@font-face {
    font-family: mintsans;
    src: url(../fonts/mintsans/MintSansRegular.otf);
  }

:root {
    --orange-dark: #EA6025;
    --orange-light: #F2951E;
    --blue-light: #91A29E;
    --blue-dark: #196874;
    --gray-one: #363533;
  }

body {
    background: black;
    color: var(--blue-light);
    font-family: mintsans, sans-serif;
    padding: 0rem 1rem 0rem 1rem;
    letter-spacing: 1pt;
}

header{
    padding: 3rem 0rem 3rem 0rem
}

#logo {
width: auto;
height: 3rem;
margin-top: -1.55rem;
}

.logo {
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between;
    font-size: 21px;
}

.right {
    display:grid;
}

.navlink {
    margin-left: 10px;
    margin-bottom: 10px;
}

nav a:link { 
    text-decoration: none; 
    color:var(--blue-light);
}


nav a:visited { 
    text-decoration: none;
    color:var(--blue-light);
 }


nav a:hover { 
    text-decoration: none;
    color:white;
}


nav a:active { 
    text-decoration: none;
    color:white;
}


.current-page {
    color: var(--orange-light);
}

/* End Header: */


.covervid {
    display: flex;
    height: auto;
    margin: auto;
}


.intro {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3em;
    color: var(--orange-dark);
}

.introtext {
    padding-top: 3em;
    margin-left: 3em;
    max-width: 21em;
}

.intropic {
    padding-top: 3em;
}

.intropic img{
    border-radius: 5px;
}

.bodypic {
    padding-top: 3em;
}

.bodypic img{
    border-radius: 10px;
}

hr {
    margin-bottom: 3rem;
    border-color: var(--blue-light);
}
    


.image-stack {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
  }

  .image-stack__item--top {
    grid-column: 1 / 9;
    grid-row: 1;
    z-index: 0;
    opacity: .5;
    transition: all .2s ease;
  }

  .image-stack__item--bottom {
    grid-column: 3 / 11;
    grid-row: 1;
    padding-top: 20%;
    z-index: 1;
    opacity: 1;
    transition: all .2s ease
  }

      /* Hover */
  .image-stack:hover .image-stack__item--top{
      z-index: 1;
      opacity: 1;
  }

  .image-stack:hover .image-stack__item--bottom{
    z-index: 0;
    opacity: .5;
}


#mypdf {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

#argif {
  width: 40vw;
  margin-top:10vw;
}

#muybridge {
width: 50vw;
height: auto;
}


iframe {
  margin-bottom: 5rem;
  width: 98vw; 
  height: 60vw;
  
}

.image-stack {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    padding-bottom: 3rem;
  }

  .image-stack__item--topv2 {
    grid-column: 3 / 11;
    grid-row: 1;
    z-index: 1;
    opacity: 1;
    transition: all .2s ease;
  }

  .image-stack__item--bottomv2 {
    grid-column: 5 / 13;
    grid-row: 1;
    padding-top: 20%;
    z-index: 0;
    opacity: .5;
    transition: all .2s ease;
  }

      /* Hover */
  .image-stack:hover .image-stack__item--topv2{
      z-index: 0;
      opacity: .5;
  }

  .image-stack:hover .image-stack__item--bottomv2{
    z-index: 1;
    opacity: 1;
}

.projsandwhich{
    display: flex;
    flex-wrap: wrap;
}


#highwayvid {
  max-height: 90vh;
}

.bodytext {
    padding-top: 3em;
    margin-left: 2em;
    max-width: 24em;
}




* {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: var(--orange-dark);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: var(--orange-light);
  }
  
  .container {
    border-radius: 5px;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  






  /* Project Pages Styles */
.projectcoverimg {
  margin-bottom: 3em;
  width: 100vw;
}

.projinfo {
  display: grid;
  padding-bottom: 3em;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}

.projinfo h6{
  letter-spacing: .5px;
}

#projectname {
  grid-row: 1;
  grid-column: 1;
  color: var(--blue-dark);
}

#projectoverview {
  grid-row: 1;
  grid-column: 6 / 13;
  color: var(--blue-dark);
}

#projecttitle {
  grid-row: 2;
  grid-column: 1 / 5;
  color: var(--blue-light);
}

#projectinfo {
  grid-row: 2;
  grid-column: 6 / 13;
  color: var(--blue-light);
  margin-bottom: 3rem;
}

#industry {
  grid-row: 4;
  grid-column: 1 / span 3;
  color: var(--blue-dark);
}

#dates {
  grid-row: 4;
  grid-column: 4;
  color: var(--blue-dark);
}

#involvement {
  grid-row: 4;
  grid-column: 6 / span 2;
  color: var(--blue-dark);
}

#indis {
  grid-row: 5;
  grid-column: 1 / span 2;
  color: var(--blue-light);
}

#dateis {
  grid-row: 5;
  grid-column: 4 / span 2;
  color: var(--blue-light);
}

#involved {
  grid-row: 5;
  grid-column: 6 / 13;
  color: var(--blue-light);
}


.gallery{
  margin-bottom: 3em;
}

.gallery img{
  margin: auto;
  margin-bottom: 3em;
}

.gallery video{
  margin: auto;
  margin-bottom: 3em;
}

.gallery .row{
  display:flex;
}

.gallery .column{
  flex: 50%;
  margin: 3rem;
}


.footnav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.flexleft{
  grid-row: 1;
  grid-column: 1;
  justify-content: left;
  color: #91A29E;
  text-decoration: none;
}

.flexright{
  grid-row: 1;
  grid-column: 5;
  justify-content: right;
  color: #91A29E;
  text-decoration: none;
}

.flexleft:hover{
  translate: 10px;
  transition: 0.5s;
  color: #fff;
}
.flexright:hover{
  translate: -10px;
  transition: 0.5s;
  color: #fff;
}



  /* End Project Pages Styles */



  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }

    .projinfo {
      display: grid;
      padding-bottom: 3em;
      grid-template-columns: repeat(12, 1fr);
      position: relative;
    }
    
    #projectname {
      grid-row: 1;
      grid-column: 1/12;
      color: var(--blue-dark);
    }
    
    #projectoverview {
      grid-row: 3;
      grid-column: 1/12;
      color: var(--blue-dark);
    }
    
    #projecttitle {
      grid-row: 2;
      grid-column: 1/12;
      margin-bottom: 1em;
      color: var(--blue-light);
    }
    
    #projectinfo {
      grid-row: 4;
      grid-column: 1/13;
      margin-bottom: 1em;
      color: var(--blue-light);
    }
    
    #industry {
      grid-row: 5;
      grid-column: 1 / 7;
      color: var(--blue-dark);
    }
    
    #dates {
      grid-row: 5;
      grid-column: 8 / 12;
      color: var(--blue-dark);
    }
    
    #involvement {
      grid-row: 7;
      grid-column: 1 / 12;
      color: var(--blue-dark);
      margin-top: 1em;
    }
    
    #indis {
      grid-row: 6;
      grid-column: 1 / 6;
      color: var(--blue-light);
    }
    
    #dateis {
      grid-row: 6;
      grid-column: 8 / 12;
      color: var(--blue-light);
    }
    
    #involved {
      grid-row: 8;
      grid-column: 1 / 13;
      color: var(--blue-light);
    }
  }


@media only screen and (min-width: 600px) {
    /* For tablets: */
    .right {
        display: flex;
    }

    .covervid {
        display: flex;
        height: auto;
        margin: auto;
        padding-bottom: 3em;
    }

    .intro {
        display: grid;
        padding-bottom: 3em;
        grid-template-columns: repeat(12, 1fr);
        position: relative;
    }
    
    .introtext {
        grid-column: 1 / span 7;
        grid-row: 1;
        padding-top: 40%;
        z-index: 1;
        opacity: 100%;
        margin-left: auto;
    }
    
    .intropic {
        grid-column: 4 / -1;
        grid-row: 1;
        z-index: 0;
    }

    .image-stack {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        position: relative;
        width: 47.8vw;
      }

    .bodytext {
        grid-column: 2 / 7;
        grid-row: 1;
        z-index: 1;
        opacity: 100%;
        margin-left: auto;
    }
    .bodypic {
        grid-column: 7 / 12;
        grid-row: 1;
        z-index: 0;
    }

}

@media only screen and (min-width: 768px) {
    /* For tablets: */
    .covervid {
        display: flex;
        height: auto;
        margin: auto;
    }

    .introtext {
        grid-column: 3 / span 8;
        grid-row: 1;
        padding-top: 30%;
        z-index: 1;
        opacity: 100%;
        margin-left: -3em;
    }
    
    .intropic {
        grid-column: 5 / -2;
        grid-row: 1;
        z-index: 0;
    }

    .bodytext {
        grid-column: 1 / 6;
        grid-row: 1;
        z-index: 1;
        opacity: 100%;
    }
}

.footer {
    position: relative;
    width: 100%;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: var(--orange-dark);
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }

  footer a:link { 
    text-decoration: none; 
    color:var(--orange-dark);
  }
  
  
  footer a:visited { 
    text-decoration: none;
    color:var(--orange-dark);
  }

  footer a:hover { 
    text-decoration: none;
    color:var(--orange-light);
  }